
.autodata-notification-wrapper {
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

.autodata-notification-wrapper.autodata-updated {
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
  background-color: #DDF;
}

.autodata-updated.autodata-value-up {
  background-color: #DFD;
}

.autodata-updated.autodata-value-down {
  background-color: #FDD;
}

.coin-tradename:before {
  content: '(';
}

.coin-tradename:after {
  content: ')';
}
