
.coin-status {
  display: block;
  margin: 0;
  padding: 0;
  width: 35px;
  height: 35px;
}

.coin-status.ok {
  background-image: url(images/status_ok.png);
}

.coin-status.error {
  background-image: url(images/status_error.png);
}
