.coin-address {
  font-size: smaller;
}

.coin-controls FIELDSET.deposit,
.coin-controls FIELDSET.withdraw {
  display: inline-block;
  max-width: 49%;
  vertical-align: top;
}

.coin-controls FIELDSET.deposit {
  margin-right: 2%;
}

.coin-controls FIELDSET.deposit .fieldset-wrapper {
  text-align: center;
}
