
.coin-controls .withdraw,
.coin-controls .deposit {
  display: inline-block;
  vertical-align: top;
  max-width: 45%;
}

.withdraw INPUT {
  max-width: 100%;
}

.coin-controls .withdraw {
  margin-left: 4%;
}

FORM.coin-controls {
  margin-top: 42px;
  text-align: left;
}

FORM.coin-controls .withdraw-buttons {
  margin-top: 42px;
  text-align: right;
}

.ui-dialog .ui-dialog-content.cryptocoin-account-withdraw-confirm {
  padding: 32px 12px;
}

.json .ui-dialog-titlebar-close,
.no-close .ui-dialog-titlebar-close  {
  display: none;
}

.withdraw-dialog-error .error-messages {
  color: red;
}
